/*********************************************/
/*body */
/*********************************************/
body {
  font-family: 'Patrick Hand SC', cursive;
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  color: rgba(92, 98, 116, .85);
}
/*********************************************/
/*Title*/
/*********************************************/
p.title {
  display: inline-block;
  margin: 0px;
  width: 500px;
  height: 40px;
  color: rgba(0, 19, 98, .85);
  font-size: 70px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg); /* Safari */
}
/*********************************************/
/*Pencil*/
/*********************************************/
.pencil {
  display: inline-block;
  width: 400px;
  transform: rotate(-101deg);
  -webkit-transform: rotate(-101deg);
}
/*********************************************/
/*Player*/
/*********************************************/
p.player {
  display: inline-block;
  margin-left: 40%;
  /* margin-top: 0%; */
  width: 110px;
  height: 10px;
  color: rgba(92, 98, 116, .85);
  font-size: 45px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  }
/*********************************************/
/*Player name*/
/*********************************************/
p.name {
  display: inline-block;
  margin: 0 auto;
  margin-top: 3%;
  height: 10px;
  width: 10px;
  color: rgba(0, 19, 98, .85);
  font-size: 50px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
/*********************************************/
/*Cofee*/
/*********************************************/
.coffe {
  display: inline-block;
  width: 200px;
  margin-left: 25%;
  margin-top: -10%;
}
/*********************************************/
/*Hash board*/
/*********************************************/
.hash {
  transform: rotate(-10deg);
  padding-top: 6%;
  width: 306px;
  margin: 0 auto;
  margin-top: 3%;
  /* display: block; */
  display: inline-block;
  margin-left: 25%;
}

li {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-transform: uppercase;
  vertical-align: top;
  font-size: 45px;
  text-align: center;
  padding: 0px;
}
.center-box {
  border: 3px solid rgba(0, 19, 98, .85);
}
.left-center-box {
  border-top: 3px solid rgba(0, 19, 98, .85);
  border-bottom: 3px solid rgba(0, 19, 98, .85);
}
.right-center-box {
  border-top: 3px solid rgba(0, 19, 98, .85);
  border-bottom: 3px solid rgba(0, 19, 98, .85);
}
 .top-center-box {
  border-right: 3px solid rgba(0, 19, 98, .85);
  border-left: 3px solid rgba(0, 19, 98, .85);
}
.bottom-center-box{
  border-right: 3px solid rgba(0, 19, 98, .85);
  border-left: 3px solid rgba(0, 19, 98, .85);
}
/*********************************************/
/*Clear button*/
/*********************************************/
.eraser {
  display: inline-block;
  margin-left: 13%;
}
.clear {
  width: 175px;
  display: inline-block;
}
@-webkit-keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.clear:hover,
.clear:focus {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
p.clear_board {
  display: inline-block;
  color: rgb(92, 98, 116, .85);
  font-size: 44px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(11deg);
  margin-left: 1%;
}
/*********************************************/
/*Winner pop-up*/
/*********************************************/
.win {
  width: 500px;
  height: 350px;
  position: absolute;
  /*border: 3px solid red;*/
  background-color: rgba(255,255,255,0.8);
  z-index: 1;
  top: 40%;
  left: 18%;
  visibility: hidden;
}
.ganador {
  display: block;
  margin: auto;
  margin-top: 16%;
  width: 110px;
  height: 10px;
  color: rgba(92, 98, 116, .85);
  font-size: 60px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
.winner {
  display: block;
  margin: 0 auto;
  margin-top: 7%;
  height: 10px;
  width: 10px;
  color: rgba(0, 19, 98, .85);
  font-size: 100px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
/*********************************************/
/*Draw pop-up*/
/*********************************************/
.draw {  
  width: 500px;
  height: 350px;
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  z-index: +1;
  top: 40%;
  left: 18%;
  visibility: hidden;
}
.draw_text {
  display: block;
  margin-left: 36%;
  margin-top: 15%;
  color: rgba(92, 98, 116, .85);
  font-size: 80px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}
/*********************************************/
/*Counter*/
/*********************************************/
.counter {
  display: block;
  /*border: 3px solid red;*/
  width: 300px;
  height: 200px;
  margin-top: -20%;
  margin-left: 1%;
  -webkit-transform: rotate(4deg);
}
.counter_name {
  display: block;
  font-size: 30px;
  color: rgba(0, 19, 98, .85);
  margin-top: 1%;
}
.player_x_name{
  font-size: 25px;
  color: rgba(0, 19, 98, .85);
  margin-left: -10%;
  margin-top: -10%;
}
.player_x {
  font-size: 25px;
  margin-top: -10%;
  margin-left: -20%;
}
.player_o_name{
  font-size: 25px;
  color: rgba(0, 19, 98, .85);
  margin-left: -10%;
  margin-top: -21%;
}
.player_o {
  font-size: 25px;
  margin-top: -21%;
  margin-left: -20%;
}