
html {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.slot {
  margin: 3px 1px;
  width: 100px;
  height: 100px;
  border: 2px solid #333;
  border-radius: 5px;
  display: inline-block;
  border-style: dashed;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;

}

li#0.slot {
  

}

/*border-bottom-style: dotted;
border-bottom-style: dashed;
border-bottom-style: solid;
border-bottom-style: double;
border-bottom-style: groove;
border-bottom-style: ridge;
border-bottom-style: inset;
border-bottom-style: outset;*/